{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/nahcnuj">Twitter</a></li>
        <li><a href="https://github.com/nahcnuj">GitHub</a></li>
    </ul>
</footer>
</body>

</html>
{{end}}
